<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>


<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>phone number: :</strong>
  <%= @restaurant.phone_number%>
</p>

<p>
  <strong>category:</strong>
  <%= @restaurant.category %>
</p>

<h2>The reviews of this resto</h2>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
<% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

<%= link_to 'new review',  new_restaurant_review_path(restaurant_id: @restaurant)%>


